.spotify-bar {
    position: relative;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-primary); /* Using primary color from :root */
    transition: var(--transition);
}

/* Default styles for mobile */
.iframe-container {
    display: flex;
    justify-content: center;
    width: 90%;
    align-content: center;
}

/* Styles for desktop and larger screens */
@media (min-width: 768px) {
    .iframe-container {
        display: flex;
        justify-content: center;
        width: 60%;
        align-content: center;
    }
}
